*{
 margin: 0px;
 padding: 0px;
}
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
;}


@import url("fontawesome-4.2.0.min.css");

body{
 font-family: arial;
//background-image:url('image/bg123.png');
background-color:#06213F;
margin-left:2%!important;
margin-right:2%!important;
text-align:justify!important;
text-justify:inter-word!important;
}
p
{
//word-spacing:2px;
line-height:1.5!important;
//letter-spacing:1.5;


}

